extends layout

head
  title= title
  script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  script(src="../public/javascript/fileupload.js")
block content
  #wrapper
    h1#title= title
    form(method="post" action="" enctype="multipart/form-data" id="upload-form")
      .preview
        if(input_type == 'video')
          video(autoplay = 'true')
        else
          img(src="" id="img" width="500" height="375")
      div
      table#tb
        th Please select a method of image input:
        tr
          td
            input(type='radio' id='image' name='input_type' value='image' checked) 
            label(for='image') Upload an Image
          td
            if (input_type == 'video')
              button#select-video Connect Webcam
            else
              input#file(type='file', name='file', data-url='/upload', accept='image/png, image/jpeg')
              input#submit.button(type="button" value="Upload")
        tr
          td
            input(type='radio' id='video' name='input_type' value='video') 
            label(for='video') Connect to Webcam
    div#res
      p#restitle Result
      p#result You are #{result}
