html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkolivegreen;
}

#wrapper {
  min-height: 100%; 
  background-color: whitesmoke;
}

#title{
  padding: 15px;
  text-align: center;
}

.image-display{
  display: block;
  margin-left: auto;
  margin-right: auto;
	width: 50%;
	min-height: 375px;
  background-color: lightgrey;
  border: 3px solid black;
}

a {
  color: #00B7FF;
}

.preview{
	width: 500px;
	height: 375px;
  border: 1px solid black;
  margin: 0 auto;
  background: white;
}

.preview img{
  display: none;
}
/* Button */
.button{
  border: 0px;
  background-color: deepskyblue;
  color: white;
  padding: 5px 15px;
  margin-left: 10px;
}

#result{
  padding: 7px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

#res{
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  text-align: center;
}

button{
  background-color: aquamarine;
  border: none;
}

#tb{
  margin-left: auto;
  margin-right: auto;
}